<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melodify</title>
    {% load static %}
    <!-- Iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{%static 'css/main.css'%}"}> 
</head>

<body>
    <div class="top-bar">
        <div class="logo">
            <img src="{%static 'images/logo.png'%}" alt="Melodify" class="logo-image">
        </div>

        {% block titulo%}{% endblock titulo %}

        <div class="nav-buttons">
           <a href="{% url  'buscar'%}">
                <button class="nav-button">
                    <i class="fas fa-search"></i>
                </button>
            </a> 
            <button class="nav-button">
                <i class="fas fa-bell"></i>
            </button>
            <button class="nav-button" onclick="toggleDropdownMenu('addMenu')">
                <i class="fas fa-add"></i>
            </button>
            <div class="dropdown-menu" id = "addMenu">
                <a href={% url 'inicio' %}>
                    <div class="menu-item" onclick="console.log('Prueba 1')"> Subir Canción </div>
                </a>
                <a href={% url 'crear-ldr' %}>
                    <div class="menu-item" onclick="console.log('Prueba 2')"> Crear Lista de Reproducción </div>
                </a>
            </div>
            <button class="nav-button">
                <i class="fas fa-music"></i>
            </button>
        </div>
    </div>

    {% block contenido %} 
    {% endblock contenido %}

    <script>
        function toggleDropdownMenu(elementID) {
            const menu = document.getElementById(elementID);
            menu.style.display = menu.style.display === "block" ? "none" : "block"; 
        }
    </script>
</body>

</html >
