<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melodify</title>
    {% load static %}
    <!-- Iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{%static 'css/main.css'%}">
</head>

<body>
    <div class="top-bar">
        <div class="logo">
            <img src="{%static 'images/logo.png'%}" alt="Melodify" class="logo-image">
        </div>

        {% block titulo%}{% endblock titulo %}

        <div class="nav-buttons">
            <a href="{% url  'buscar'%}">
                <button class="nav-button">
                    <i class="fas fa-search"></i>
                </button>
            </a>
            {% if user.is_authenticated %}
            <button class="nav-button" onclick="toggleDropdownMenu('notifications')">
                <i class="fas fa-bell"></i>
            </button>
            <div class="dropdown-menu" id="notifications">
                <div class="scroll-container" style="height: auto;">

                    {% for notificacion in notificaciones %}
                    <div class="card">
                        <div class="card-content">
                            <div class="card-name">Fuiste invitado a {{notificacion.nombre}}</div>
                        </div>
                        <button class="circle-btn invitation-accept"
                            onclick="window.location.href = '{% url  'aceptar-invldr' notificacion.id%}'">
                            <i class="fa fa-check"></i>
                        </button>
                        <button class="circle-btn invitation-reject"
                            onclick="window.location.href = '{% url  'rechazar-invldr' notificacion.id%}'">
                            <i class="fa fa-ban"></i>
                        </button>
                    </div>
                    {% empty %}
                    <p>No tienes notificaciones</p>
                    {% endfor %}
                </div>
            </div>
            <button class="nav-button" onclick="toggleDropdownMenu('addMenu')">
                <i class="fas fa-add"></i>
            </button>
            <div class="dropdown-menu" id="addMenu">
                {% if is_artista %}
                <a href={% url 'subir' %}>
                    <div class="menu-item"> Subir Canción </div>
                </a>
                {% endif %}
                <a href={% url 'crear-ldr' %}>
                    <div class="menu-item"> Crear Lista de Reproducción </div>
                </a>
            </div>
            {% endif %}
            <button class="nav-button">
                <i class="fas fa-music"></i>
            </button>
        </div>
    </div>

    {% block contenido %}
    {% endblock contenido %}

    {% if cancion %}
    <div id="audio-player"
        style="position: fixed; bottom: 0; left: 0; right: 0; background: #333; color: white; padding: 15px; z-index: 1000;">
        <audio autoplay controls style="width: 100%;">
            <source src="{{ MEDIA_URL }}/{{ cancion }}" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
    </div>
    {% endif %}

    <script>
        function toggleDropdownMenu(elementID) {
            const menu = document.getElementById(elementID);
            menu.style.display = menu.style.display === "block" ? "none" : "block";
        }
    </script>

</body>

</html>