{% extends "base.html" %}

{{ canciones.values_list|json_script:"canciones" }}

{% block titulo %}
<div class="ldr-title-container">
  {% if is_editor %}
  <form method="post" style="display: flex; align-items: center; gap: 5px;">
    {% csrf_token %}
    <button class="ldr-config-button" type="submit">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>
    <input type="text" name="renombre" value="{{ nombre }}" style="font-size: 1.5em; padding: 5px;">
  </form>
  <div style="position: relative">
    <button class="ldr-config-button" onclick="toggleDropdownMenu('ldrConfigMenu')">
      <i class="fa fa-cog" aria-hidden="true"></i>
    </button>
    <div class="dropdown-menu" id="ldrConfigMenu" style="right: auto; left: 0;">
      <a href="#">
        <div class="menu-item" onclick="confirmarAbandono()">Abandonar Lista de Reproducción</div>
      </a>
      <a class="menu-item">
        <div class="menu-item" id="inviteUser">Invitar Usuarios</div>
      </a>
    </div>
  </div>
  {% else %}
  <h1>{{ nombre }}</h1>
  {% endif %}
</div>
{% endblock titulo %}


{% block contenido %}
<div class="scroll-container">
  <div class="songs-list">
    {% for cancion in canciones %}
    <a href="{% url 'ver-ldr' ldr_id=id %}?play={{ cancion.id }}">
      <div class="song-item" data-song="Blinding Lights">
        <div class="album-art">🎵</div>
        <div class="song-details">
          <div class="song-title">{{ cancion.nombre }}</div>
          <div class="song-artist">{{ cancion.autor.usuario.nombre_usuario }}</div>
        </div>
        {% if is_editor %}
        <button class="remove-song-button" , onclick="eliminarCancion('{{ cancion.id }}')">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
        {% endif %}
      </div>
    </a>
    {% endfor %}
    {% if is_editor %}
    <div class="add-song-item" id="add-song-btn">
      <button class="add-btn" id="add-btn">+</button>
    </div>
    {% endif %}
  </div>
</div>
<div class="search-window" id="searchSongWindow">
  <button class="close-btn" id="closeSongSearch">&times;</button>
  <div class="search-header">
    <button class="search-button" id="buscarCancion">
      <i class="fas fa-search search-icon"></i>
    </button>
    <input type="text" class="search-input" id="searchSongInput" placeholder="Busca canciones para añadir">
  </div>

  <div class="search-display" id="searchSongDisplay">

  </div>
</div>

<div class="search-window" id="searchUserWindow">
  <button class="close-btn" id="closeUserSearch">&times;</button>
  <div class="search-header">
    <button class="search-button" id="buscarUsuario">
      <i class="fas fa-search search-icon"></i>
    </button>
    <input type="text" class="search-input" id="searchUserInput" placeholder="Busca usuarios para invitar">
  </div>

  <div class="search-display" id="searchUserDisplay">
  </div>
</div>

<script>
  const ldr_id = "{{ id }}";
  const canciones = JSON.parse("{{ cids }}");

  async function eliminarCancion(cid) {
    try {
      let response = await fetch(`${window.location.origin}/eldr/${ldr_id}/${cid}`);
      window.location.reload();
    } catch (error) {
      alert("Error al eliminar la canción: \n", error);
    }
  }

  function confirmarAbandono() {
    if (confirm("¿Estas seguro de querer abandonar tu rol como editor de la lista? {% if is_ultimo %} \n Si sales de esta lista se eliminará. {% endif %}"))
      window.location.href = `${window.location.origin}/sldr/${ldr_id}`;
  }

  document.addEventListener('DOMContentLoaded', async function () {
    const botonAgregarCancion = document.getElementById('add-btn');
    const botonInvitarUsuario = document.getElementById('inviteUser');

    const cerrarBusquedaCancion = document.getElementById('closeSongSearch');
    const cerrarBusquedaUsuario = document.getElementById('closeUserSearch');

    const ventanaBusquedaCancion = document.getElementById('searchSongWindow');
    const ventanaBusquedaUsuario = document.getElementById('searchUserWindow');

    const buscarCancion = document.getElementById('searchSongInput');
    const buscarUsuario = document.getElementById('searchUserInput');

    const botonBusquedaCancion = document.getElementById('buscarCancion');
    const botonBusquedaUsuario = document.getElementById('buscarUsuario');

    const contenedorBusquedaCancion = document.getElementById('searchSongDisplay');
    const contenedorBusquedaUsuario = document.getElementById('searchUserDisplay');

    // Abrir las ventanas de búsqueda
    botonAgregarCancion.addEventListener('click', function () {
      ventanaBusquedaCancion.style.display = 'flex';
      buscarCancion.focus();
    });
    botonInvitarUsuario.addEventListener('click', function () {
      ventanaBusquedaUsuario.style.display = 'flex';
      buscarUsuario.focus();
    });

    function cerrarBusquedas() {
      ventanaBusquedaCancion.style.display = 'none';
      ventanaBusquedaUsuario.style.display = 'none';
    }

    function crearResultado(elemento, html = true) {
      const resultado = document.createElement('div');
      resultado.className = 'card';

      if (html) {
        resultado.onclick = async function (e) {
          try {
            let response = await fetch(`${window.location.origin}/aldr/${ldr_id}/${elemento.id}`);
            window.location.reload();
          } catch (error) {
            alert("Error al añadir la canción a la lista: ", error);
          }
        };
        resultado.innerHTML = `
          <div class="card-icon">
            <i class="fa fa-music"></i>
          </div>
          <div class="card-content">
            <div class="card-name">${elemento.nombre}</div>
            <div class="card-author">Por ${elemento.autor}</div>
          </div>
          <div>
            <i class="fa fa-plus-circle"></i>
          </div>
        `;
      } else {
        resultado.onclick = async function (e) {
          try {
            let response = await fetch(`${window.location.origin}/invldr/${ldr_id}/${elemento.id}`);
            window.location.reload();
          } catch (error) {
            alert("Error al invitar al usuario a la lista: ", error);
          }
        };
        resultado.innerHTML = `
          <div class="card-icon">
            <i class="fa fa-user"></i>
          </div>
          <div class="card-content">
            <div class="card-name">${elemento.nombre}</div>
          </div>
          <div>
            <i class="fa fa-envelope"></i>
          </div>
        `;
      }

      return resultado;
    }

    function mostrarBusqueda(datos, elemento, t = true) {
      console.log(datos);
      //Si no hay datos poner un mensaje que lo indique
      if (datos.length <= 0) {
        const mensaje = document.createElement('p');
        mensaje.innerHTML = "No se encontraron resultados :c";

        elemento.appendChild(mensaje);
        return;
      }
      for (const usuario in datos) {
        let resultado = crearResultado(datos[usuario], t);
        elemento.appendChild(resultado);
      }
    }

    async function buscarUsuarios() {
      const query = buscarUsuario.value;
      try {
        let response = await fetch(`${window.location.origin}/usuarios?q=${query}`);
        let json = await response.json();

        mostrarBusqueda(json, contenedorBusquedaUsuario, t = false);

      } catch (error) {
        alert("Error en la búsqueda de usuarios:\n", error);
      }
    }

    async function buscarCanciones(e) {
      const query = buscarCancion.value;
      // Eliminamos los resultados que ya estaban.
      contenedorBusquedaCancion.replaceChildren();
      try {
        let response = await fetch(`${window.location.origin}/canciones?q=${query}`);
        let json = await response.json();

        // Eliminamos de la búsqueda a las canciones que ya están en la lista.
        mostrarBusqueda(json.filter((cancion) => !canciones.includes(cancion.id)), contenedorBusquedaCancion);
      } catch (error) {
        console.log(error);
        alert("Error en la búsqueda de canciones:\n", error);
      }
    }

    async function añadirCancion(id) {
      try {
        let response = await fetch(`${window.location.origin}/aldr/${ldr_id}/${id}`);
      } catch (error) {
        alert("Error al añadir la canción solicitada: \n", error);
      }
    }

    cerrarBusquedaCancion.addEventListener('click', cerrarBusquedas);
    cerrarBusquedaUsuario.addEventListener('click', cerrarBusquedas);
    document.addEventListener('keydown', function (e) {
      if (e.key === 'Escape') {
        cerrarBusquedas();
      }
    });
    botonBusquedaCancion.addEventListener('click', buscarCanciones);
    botonBusquedaUsuario.addEventListener('click', buscarUsuarios);
  });
</script>
{% endblock %}